@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* light blue */
    --foreground: 222.2 84% 4.9%; /* dark navy */
    --primary: 207 90% 54%; /* bright blue */
    --primary-foreground: 210 40% 98%; /* light blue */
    --secondary: 220 15% 75%; /* grayish blue */
    --secondary-foreground: 222.2 47.4% 11.2%; /* darker grey */
    --accent: 214 60% 50%; /* medium blue */
    --accent-foreground: 210 40% 98%; /* light blue */
 
  }

  .dark {
    --background: 222.2 84% 4.9%; /* dark navy */
    --foreground: 210 40% 98%; /* light blue */
    --primary: 207 90% 40%; /* dark blue */
    --primary-foreground: 210 40% 98%; /* light blue */
    --secondary: 220 15% 60%; /* dark grayish blue */
   
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
